/* styles.css */

.about-button {
    display: inline-block;
    padding: 10px;
    padding-left: 30px;
    padding-bottom: 25px;
}

.subscribe-button {
    display: inline-block;
    padding: 10px;
}

.contact-button {
    display: inline-block;
    padding: 10px;
}


.main-heading {
    font-family: "Cambria", "Times New Roman", sans-serif;
    color: #5c5c5c;
    text-align: center;
    font-size: 24px;
    display: block;
    border-top: 3px dashed darkseagreen;
    border-bottom: 3px dashed darkseagreen;;
}

.iroh {
    display: block;
    text-align: center;
    padding: 5px;
    margin: 50px;
}

.content-below {
    font-family: "Cambria", "Times New Roman", sans-serif;
    color: #5c5c5c;
    text-align: center;
    font-size: 30px;
}

.chai-link {
    display: inline-block;
    text-align: left;
    padding: 30px;

}

.earl-link {
    display: inline-block;
    padding: 30px;
}

.ponyo-link {
    display: inline-block;
    padding: 30px;
}



.recipe-heading {
    font-family: "Cambria", "Times New Roman", sans-serif;
    color: #222525;
    font-size: 28px;
    font-weight: 300;
}
